.Signup-button {
    /* height: 15vh; */
    margin: 0.5rem 0;
    display: grid;
    grid-template-rows:  8vh;
 grid-template-areas: "alternate-signup";
grid-template-columns: 1fr;
/* background-color: sienna; */
}


.alternate-signup {
    height: 8vh;
    grid-area: alternate-signup;
    font-family: "Nunito";
    font-size: 1.5rem;
    margin: 4rem 0;
    color: #a8a8a8;
}