.taglist {
      display: grid;
      grid-template-columns:repeat(4,1fr);
      

}
@media only screen and (max-width:1100px) {
      .taglist {
            display: grid;
            grid-template-columns:repeat(4,1fr);
        
      }
}
@media only screen and (max-width:500px) {
      .taglist {
            display: grid;
            grid-template-columns:repeat(3,1fr);
        
      }
}