.taglist {
      display: grid;
      grid-template-columns:  repeat(auto-fit,minmax(min-content,50rem));
      grid-template-rows: repeat(auto-fit,minmax(min-content,50rem));
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      align-content: start; 
       align-items: flex-start;
       margin: 0.5rem 0
    
}