
.signup-form-container {
  
  display: grid;
  grid-template-rows: minmax(70vh,min-content) minmax(20vh,min-content);
  grid-template-columns: 10fr 40fr 10fr 30fr 10fr;
  grid-template-areas: ". image . form-components ."
                          ". . . . .";
  /* background-color: red; */
}
.signupimage {
  grid-area: image;
  background-image: url("../../images/Group\ 25.png");
  background-size: 75% 75%, cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-components {
  grid-area: form-components;
}
@media only screen and (max-width: 800px) {
  .signup-form-container {
   /* background-color: red; */
    display: grid;
    
    grid-template-rows: minmax(45vh, min-content) minmax(70vh, min-content);
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-areas:   ". image ."
                           ". form-components .";
  }
  .signupimage {
    grid-area: image;
    background-image: url("../../images/Group\ 25.png");
    background-size: 75% 75%, cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .form-components {
  
    grid-area: form-components;
  }
}
