.signup-form-container {
    height: 75vh;
    display: grid;
    grid-template-rows: 75vh;
    grid-template-columns: 10fr 40fr 10fr 30fr 10fr;
    grid-template-areas: ". image . form-components .";
    /* background-color: red; */
}
.signupimage {
    grid-area: image;
    background-image: url("../../images/Group\ 25.png");
    background-size: 75% 75%, cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-components {
    grid-area: form-components;
}
@media only screen and (max-width: 800px) {
    .signup-form-container {
      
        display: grid;
        grid-template-rows: 45vh 45vh;
        grid-template-columns: 10fr 80fr 10fr;
        grid-template-areas: ". image ."
                            ". form-components .";
        /* background-color: red; */
    }
}