.login-button {
   
    display: grid;
    grid-template-rows: 8vh;
    grid-template-columns: 1fr;
 grid-template-areas:  "alternateAuth";

/* background-color: saddlebrown; */
} 
.alternateAuth {
   
    /* height: 8vh; */
    grid-area: alternateAuth;
    /* transform: translateY(-5rem); */
    font-family: 'Nunito';
     color: #757070;
}