.taglistitem {
    margin: 0.5rem ;
    position:relative;
}
.taglistitem input{
width: 12rem;
/* border: none2 */
}
.close-icon {
    position:absolute;
    bottom:1.5rem;
    right:1rem;
    width:2.4rem;
    height:2.4rem;
}
@media only screen and (max-width:1000px) {
    .close-icon {
    position:absolute;
    bottom:1.5rem;
    right:1rem;
    width:2.4rem;
    height:2.4rem;
}
}