.assumptionFormContainer {
    display: grid;
    grid-template-rows: 15vh 75vh;
    grid-template-columns: 1fr;
    grid-template-areas: "."
                     "assumption-form"
                           
   
    /* background-color: #757070; */
}

.assumptionForm {
    grid-area: assumption-form;
    display: grid;
    /* height: 75vh; */
    grid-template-rows: minmax(75vh,min-content);
    grid-template-columns: 30fr 40fr 30fr;
    grid-template-areas: ". assumption-form-fields .";
    /* background-color: red; */
}
.assumptionFormFields {
    grid-area: assumption-form-fields;
    /* background-color: aqua; */
    /* height: 50vh;
    display: grid;
    grid-template-rows:   repeat(5,minmax(10vh,min-content)) minmax(15vh,min-content) minmax(10vh,min-content);
    grid-template-columns: 1fr;
    grid-template-areas: "assumption-form-heading "
                            "title"
                            "description"
                            "detailDescription"
                            "tags"
                             "tagsAdded"
                            "add-form-btn" ;
  */
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.addBtn {
    background-color: #02C396;
    /* position: absolute; */
      margin: 2rem 0;
    border-radius: 0.3rem;
    font-family: 'Nunito';
    width: 100%;
    padding: 0.8rem;
    outline: none;
    font-size: 1.6rem;
    color: #fff;
    font-family: "Nunito";
    outline: none !important;
}
label {
    color: black;
}
input[type = "text"],input[type = "password"],input[type = "email"],input[type = "number"]  {
    font-size: 1.6rem;
}
textarea [type = "text"]{ 
    font-size: 1.6rem;  
}
/* .assumption-form-heading   {
    grid-area: assumption-form-heading;
    display: flex;
    
    justify-content: center;
   
    align-items: center;
   
    
    
}
.assumption-form input {
    width: 50rem;
    border-radius: 0.3rem;
    text-indent: 1rem;
    
}
.assumption-form label {
    color: #000;
}
.title {
    grid-area: title;
   
    display: grid;
    grid-template-rows: repeat(2,5vh);
   
}
.description {
    grid-area: description;
   
    display: grid;
    grid-template-rows: repeat(2,5vh);
   
}
.detailDescription {
    grid-area: detailDescription;
   
    display: grid;
    grid-template-rows: repeat(2,5vh);
   
}
.labels {
    grid-area: tags;
   
    display: grid;
    grid-template-rows: repeat(2,5vh);
   
}

::placeholder {
    font-size: 1.5rem;
    font-family: "Nunito";
}

.add-form-btn button {
    grid-area: add-form-btn;
    display: grid;
  
    background-color: #02C396;
    border-radius :0.3rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    align-items: center;
    padding: 1rem 5rem;
    color: #ffffff;

}
.tagsAdded {
    grid-area: tagsAdded;
    margin-top: 1rem ;
   
   display: grid;
    grid-template-rows:1fr;
   grid-template-columns: 1fr;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
@media only screen and (max-width: 1100px) {
    .title, .description, .detailDescription, .labels {
       margin: 1rem 0;
       
    }
}*/
@media only screen and (max-width: 800px) {
    .assumptionForm input {
        width: 50rem;
       
    }
} 
@media only screen and (max-width: 500px) {
    .assumptionForm input {
        width: 36rem;
       
    }
} 