.Signup-heading-container {
    display: grid;
    grid-template-rows: minmax(10vh,min-content);
    /* margin: 2rem 0; */
    /* height: 10vh; */
    /* background-color: salmon; */
}
.Signup-heading-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}