.count-modal {
    width: 40vw;
}
.count-input {
    font-size: 1.5rem;
}
/* .flex {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.count-modal-items {
    /* display: grid;
    grid-template-columns: 100fr;
   grid-template-rows: repeat(auto-fit,minmax(min-content,1fr)); */
   /* grid-template-areas: "count-modal-item"; */
}
/* .count-modal-item {
    display: grid;
    
    grid-template-rows: 7vh;
    grid-template-columns: 25fr 50fr 25fr;
    
} */


@media only screen and (max-width:900px) {
    .count-modal {
        width: 60vw;
    }
}
@media only screen and (max-width:575px) {
    .count-modal {
        width: 100vw !important;
        margin: 0 2rem;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width: 90vw;
    }
}