.login-form-container {
    height: 75vh;
    display: grid;
    grid-template-rows: 75vh;
    grid-template-columns: 15fr 30fr 10fr 30fr 15fr;
    grid-template-areas: ". image . form-components .";
    /* background-color: red */
}
.loginimage {
    grid-area: image;
    background-image: url("../../images/Group 15.png");
    background-size: 75% 75%, cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.form-components {
    grid-area: form-components;
}
@media only screen and (max-width: 800px) {
    .login-form-container {
      
        display: grid;
        grid-template-rows: 45vh 45vh;
        grid-template-columns: 10fr 80fr 10fr;
        grid-template-areas: ". image ."
                            ". form-components .";
        /* background-color: red; */
    }
}