.login-icons {
    /* height: 15vh; */
    display: grid;
    grid-template-rows: 10vh ;
     grid-template-columns: 1fr;
     /* background-color: palevioletred; */
    grid-template-areas: "icons"
                        
}
.icons {
    grid-area: icons;
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: ". facebook google  .";
  justify-content: space-between;
}
.circle {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background:  #f1efef;
}
.facebook {
    grid-area: facebook;
    color: #3b5998;
    font-size: 3rem;

}
.google {
    grid-area: google;  
    /* border: none; */
}
.icons img {
    border: none;
}
@media only screen and (max-width: 800px) {
    .icons {
        grid-area: icons;
        display: grid;
        grid-template-rows: 15vh;
        grid-template-columns: 35fr repeat(2,15fr) 35fr;
        grid-template-areas: ". facebook google  .";
      justify-content: space-around;
    
    }
}
@media only screen and (max-width: 450px) {
    .icons {
        grid-area: icons;
        display: grid;
        grid-template-rows: 15vh;
        grid-template-columns: 28fr repeat(2,22fr) 28fr;
        grid-template-areas: ". facebook google  .";
      justify-content: space-around;
    
    }
}