 *{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}
body {
    overflow-x: hidden;
   
}
html {
    font-size: 62.5%;
}
 /* .App {
  
    display: grid;
    grid-template-rows: minmax(10vh,min-content) minmax(75vh,min-content) minmax(15vh,min-content);
    grid-template-columns:1fr;
    grid-template-areas: "navbar"
                           " pageContent"        
                              "." ;
   
} 
 .navbar {
   grid-area: navbar;
   grid-template-rows: minmax(10vh,min-content); */
   /* height: 10vh;
   z-index: 10;
   position: fixed; */
/* } */

/* .pageContent {
    grid-area: pageContent; 
   grid-template-rows: minmax(75vh,min-content);
    
 }  */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:1000px) {
    html {
      font-size: 55%;
      
    }
  }

  @media only screen and (max-width:650px) {
    html {
      font-size: 50%; 
    }
  }
  